<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <h1>
        <a href="{{url_for('index')}}">CATRAVEL</a>
    </h1>
        <div class="welcome"> ||WELCOME TO CATRAVEL||</div>
        <div class="signs">
            <a class="linky" href="{{url_for('login')}}">SIGN UP</a>
            <a class="linky" href="{{url_for('login')}}">SIGN IN</a>
        </div>


    
</body>
</html>