<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
    <h1>
        <a href="{{url_for('index')}}">CATRAVEL</a>
    </h1>
    <div class="ol">

        <form class="login">
        <label class="texty" for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
        <label class="texty" for="password">Password:</label><br>
            <input type="text" id="password" name="password"><br><br><br>
            <input class="submit" type="submit" value="login">
        </form>

    </div>
   
</body>
</html>